<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="toolstrip" xsi:type="ToolStripItem" toolStripName="statusStrip1" itemName ="infoStatusLabel" formName="SaveFileConverterForm" layout="${message}"/>
		<target name="file" xsi:type="File" fileName="${processname}.log" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="toolstrip" />
		<logger name="*" minlevel="${var:fileLogLevel}" writeTo="file" />
	</rules>
</nlog>